<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class='container'>
        <div class='row'>
            <div class='col-md-2'></div>
            <div class='col-md-8 text-center'>
                <h1>Visible stuff goes here</h1>
                <p>here's a paragraph, fwiw</p>
                <p>And here's an image:</p>
                <a href="https://www.flickr.com/photos/zokuga/14615349406/">
                    <img src="http://stash.compjour.org/assets/images/sunset.jpg" alt="it's a nice sunset">
                </a>
            </div>
            <div class='col-md-2'></div>

        </div>
    </div>
</body>

</html>